<!-- build:remove -->
<%= t.include("partials/_top.html") %>
<!-- /build -->
<!-- build:css inline -->
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- /build -->
<script src="https://d3js.org/d3.v4.min.js"></script>




<!-- Code that goes within WCM Freeform -->

<div class="scrolly-interactive">

  <div class="hed-wrapper">
    <div class="hed">The Drive to Dominance</div>
    <div class="deck">While the Cavaliers' fortunes have been tied directly to the comings and goings of LeBron James, the Warriors had only glimpses of success before drafting the core of a team that set an NBA record with 73 wins and is looking for its second title in three seasons. Here's a look at how we got to Warriors-Cavs, Part III.</div>
  </div>

  <div class="fact-container">
    <div id="season"></div>
    <div id="warriors-fact" class="fact"></div>
    <div id="cavs-fact" class="fact"></div>
  </div>

  <div class="chart-container">
    <div id="line-chart"></div>
  </div>
  <div class="credit">Emma O'Neill • <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a> • <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

</div>


  <div class="timeline-title">
    How the Warriors and Cavs got here
  </div>
    <% json.timeline.forEach(function(date) { %>
      
    <div class="timeline">
      <div class="block warriors">
         <h2><%= date.war_date %></h2>
         <p><%= date.war_text %></p>
         
      </div>
      <div class="block cavs">
        <h2><%= date.cav_date %></h2>
        <p><%= date.cav_text %></p>
      </div>
    </div>
     
    <% }); %>


<!-- build:remove -->
<%= t.include("partials/_bottom.html") %>
<!-- /build -->

<script>

var statsData = <%= JSON.stringify(json.data) %>;

// fills in HTML for year as years toggle
var updateInfo = function(data) {
  console.log(data);
  document.querySelector("#season").innerHTML = "<div class='season'>"+data.season+"</div>";
  document.querySelector("#warriors-fact").innerHTML = "<div class='score warriors'>Warriors: "+data.w_score+"</div><div class='desc'>"+data.w_text+"</div>";
  document.querySelector("#cavs-fact").innerHTML = "<div class='score cavs'>Cavaliers: "+data.c_score+"</div><div class='desc'>"+data.c_text+"</div>";
};

// color by year function
function color_by_team(team) {
  if (team == "warriors") {
    return "#006BB6";
  } else if (team == "cavs"){
    return "#860038";
  }
}

// setting sizes of interactive
var margin = {
  top: 0,
  right: 50,
  bottom: 50,
  left: 50
};
if (screen.width > 768) {
  var width = 900 - margin.left - margin.right;
  var height = 600 - margin.top - margin.bottom;
} else if (screen.width <= 768 && screen.width > 480) {
  var width = 720 - margin.left - margin.right;
  var height = 600 - margin.top - margin.bottom;
} else if (screen.width <= 480 && screen.width > 340) {
  console.log("big phone");
  var margin = {
    top: 20,
    right: 20,
    bottom: 35,
    left: 30
  };
  var width = 340 - margin.left - margin.right;
  var height = 350 - margin.top - margin.bottom;
} else if (screen.width <= 340) {
  console.log("mini iphone")
  var margin = {
    top: 50,
    right: 30,
    bottom: 35,
    left: 35
  };
  var width = 310 - margin.left - margin.right;
  var height = 350 - margin.top - margin.bottom;
}

var	parseYr = d3.timeParse("%Y");

// create SVG container for chart components
var svgNBA = d3.select("#line-chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    // .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var g = svgNBA.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var x = d3.scaleTime().range([0, width]),
    y = d3.scaleLinear().range([height, 0]);

x.domain([parseYr(2007),parseYr(2016)]);
y.domain([0,80]);

var lineWarriors = d3.line()
    .x(function(d) {
      return x(parseYr(+d.years));
    })
    .y(function(d) {
      return y(+d.w_wins);
    });
var lineCavs = d3.line()
    .x(function(d) {
      return x(parseYr(+d.years));
    })
    .y(function(d) {
      return y(+d.c_wins);
    });

g.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
    .append("text")
      .text("Season")
  .select(".domain")
    .remove();

// Add the filled area
g.append("path")
    .datum(statsData)
    .attr("class","thicklines")
    .style("stroke",color_by_team("warriors"))
    .attr("d", lineWarriors);

// Add the filled area
g.append("path")
    .datum(statsData)
    .attr("class","thicklines")
    .style("stroke",color_by_team("cavs"))
    .attr("d", lineCavs);


// add the valueline path
// add the area
// g.append("path")
//    .data([statsData])
//    .attr("class", "area")
//    .attr("fill",color_by_team("warriors"))
//    .attr("opacity","0.2")
//    .transition()
//        .duration(7000)
//        .attrTween('d', areaTweenWAR);

// g.append("path")
//   .data([statsData])
//   .attr("class", "area")
//   .attr("fill",color_by_team("cavs"))
//   .attr("opacity","0.2")
//   .transition()
//       .duration(7000)
//       .attrTween('d', areaTweenCAV);

// define the area
var areaWAR = d3.area()
   .x(function(d) { return x(parseYr(+d.years)); })
   .y0(height)
   .y1(function(d) { return y(+d.w_wins); });

function areaTweenWAR() {
  var interpolate = d3.scaleQuantile()
    .domain([0,1])
    .range(d3.range(1, statsData.length + 1));
  return function(t) {
    return areaWAR(statsData.slice(0, interpolate(t)));
  };
}

// define the area
var areaCAV = d3.area()
   .x(function(d) { return x(parseYr(+d.years)); })
   .y0(height)
   .y1(function(d) { return y(+d.c_wins); });

function areaTweenCAV() {
  var interpolate = d3.scaleQuantile()
    .domain([0,1])
    .range(d3.range(1, statsData.length + 1));
  return function(t) {
    return areaCAV(statsData.slice(0, interpolate(t)));
  };
}

// draw dots
var nodes = g.selectAll(".dot")
    .data(statsData)
  .enter().append("g")
    .attr("class","node");

nodes.append("circle")
    .attr("class", "cavDot")
    .attr("r", 5)
    .attr("fill",color_by_team("cavs"))
    .attr("cx", function(d) { return x(parseYr(+d.years)); })
    .attr("cy", function(d) { return y(+d.c_wins); })

nodes.append("circle")
    .attr("class", "warDot")
    .attr("r", 5)
    .attr("fill",color_by_team("warriors"))
    .attr("cx", function(d) { return x(parseYr(+d.years)); })
    .attr("cy", function(d) { return y(+d.w_wins); })

nodes.append("text")
  .attr("dx", function(d) { return x(parseYr(+d.years))-15; })
  .attr("dy", function(d) { return y(+d.c_wins)+20; })
  .attr("fill",color_by_team("cavs"))
  .text(function(d){
    return d.c_score;
  });

nodes.append("text")
  .attr("dx", function(d) { return x(parseYr(+d.years))-15; })
  .attr("dy", function(d) { return y(+d.w_wins)-20; })
  .attr("fill",color_by_team("warriors"))
  .text(function(d){
    return d.w_score;
  });

var years = [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016];
var i = 0;

var loop = null;
var tempData;
var tick = function() {
  updateInfo(statsData[i]);
  // loop = setTimeout(tick, i == 0 ? 1700 : 1000);

  tempData = statsData.slice(0,i+1);
  // console.log(statsData);
  // console.log(tempData);
  d3.select("#warriors_area").remove();
  d3.select("#cavs_area").remove();
  g.append("path")
     .data([tempData])
     .attr("id","warriors_area")
     .attr("fill",color_by_team("warriors"))
     .attr("opacity","0.2")
     .attr("d", areaWAR);

   g.append("path")
      .data([tempData])
      .attr("id","cavs_area")
      .attr("fill",color_by_team("cavs"))
      .attr("opacity","0.2")
      .attr("d", areaCAV);

  loop = setTimeout(tick, i == 0 ? 4000 : 4000);
  i = (i + 1) % years.length;
};

tick();

// tempData = statsData;
// g.append("path")
//    .data([statsData])
//    .attr("fill",color_by_team("warriors"))
//    .attr("opacity","0.2")
//    .attr("d", areaWAR);


</script>
